body {
  margin:0;
  padding:0;
}
#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.radios {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.radios label {
  display: block;
}